body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 20px;
}

h1 {
    text-align: center;
}

input, button {
    padding: 10px;
    margin: 5px;
}

.task-item {
    background: white;
    padding: 10px;
    margin: 5px 0;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
